[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = git@github.com:erikw/tmux-powerline
[submodule "tmux/tmux-colors-solarized"]
	path = tmux/tmux-colors-solarized
	url = git@github.com:seebi/tmux-colors-solarized
[submodule "vim/bundle/scrooloose-nerdtree"]
  path = vim/bundle/scrooloose-nerdtree
  url = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "vim/bundle/sjl-gundo"]
  path = vim/bundle/sjl-gundo
  url = https://github.com/sjl/gundo.vim
  ignore = dirty
[submodule "vim/bundle/AndrewRadev-splitjoin"]
  path = vim/bundle/AndrewRadev-splitjoin
  url = https://github.com/AndrewRadev/splitjoin.vim
  ignore = dirty
[submodule "vim/bundle/joestelmach-javaScriptLint"]
  path = vim/bundle/joestelmach-javaScriptLint
  url = https://github.com/joestelmach/javaScriptLint.vim
  ignore = dirty
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
  ignore = dirty
[submodule "vim/bundle/astashov-vim-ruby-debugger"]
	path = vim/bundle/astashov-vim-ruby-debugger
	url = https://github.com/astashov/vim-ruby-debugger
  ignore = dirty
[submodule "vim/bundle/skwp-vim-powerline"]
	path = vim/bundle/skwp-vim-powerline
	url = https://github.com/skwp/vim-powerline.git
  ignore = dirty
